@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
* {
    margin: 0;
    padding: 0;
}
body {
    background: #F4F4F4;
}
.wrapper {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.wrapper header {
    width: 100%;
    background: url('../img/banner.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 40px 0

}
.wrapper header h1{
    color: white;
    font-weight: 700;
}
.wrapper header p{
    color: white;
    font-weight: 300;
}
.wrapper .resources{
    width: 100%;
    margin-top: 40px;
}
.wrapper .resources .resource{
    height: 200px;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #f4f4f4;
    padding: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.02), 0 1px 2px rgba(0,0,0,0.14);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px
} 
.wrapper .resources .resource:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    cursor: pointer;
}
.wrapper .resources .resource img{
    width: auto;
    max-height: 100%;
    margin-right: 10%;
}
.wrapper .resources .resource .text{
    width: 50%;
    text-align: center;
}
.wrapper .resources .resource .text h2{
    margin-bottom: 10px;
}